<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-lg-8 mx-auto">
            <div class="card mt-5 text-center">
                <div class="card-header ">
                    <h3>¡Propon una nueva receta!</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>¡{{user.nom_usuari}} ayudanos y haz que What The Food tenga más recetas añadiendo una que no aparezca en el buscador!</p>
                        <p>Una vez hayas enviado la receta se revisara manualmente, y una vez revisada tu receta estra dispoinble en la aplicacion.</p>
                    </li>
                    <li class="list-group-item">
                         <form action="/recipe/addNew" method="POST" enctype="multipart/form-data">
                            <div class="form-group mb-2">
                                <label>Nombre de la receta*</label>
                                    <input type="text" name="nom_recepta"  maxlength="100" id="nom_recepta" class="form-control" required  placeholder="" autofocus>
                            </div>
                            <div class="form-group mb-2">
                                <label>Pais de origen*</label>
                                <div></div>
                                <select id="pais" class='mi-selector' required name='pais'>
                                        <option selected="selected" value="" disabled="disabled">Seleciona un pais</option>
                                        {{#each paises}}
                                            <option value="{{this.id_pais}}">{{this.nombre_pais}}</option>
                                        {{/each}}
                                </select>
                            </div>
                            <div class="container-fluid mb-2">
                                <div class="row d-flex justify-content-center">
                                    <label>Tiempo de preparacion*</label>
                                    <div class="col-4 col-md-2">
                                        <input type="number" name="hora" id="hora" class="form-control" required  max="50" min="0">
                                    </div>
                                    :
                                    <div class="col-4 col-md-2">
                                        <input type="number" name="mins" id="mins" class="form-control" required max="59" min="0">
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group mb-2">
                                <label for="descripcio_recepta">Preparacion de la receta*</label>
                                <textarea name="descripcio_recepta" class="form-control"  maxlength="2500" id="descripcio_recepta" required  rows="3"></textarea>
                            </div>                           
                            <div class="form-group mb-2">
                                <label class="form-label" for="img">Seleciona una imagen*</label>
                                <input type="file" class="form-control" required  id="img" name="img" accept="image/png, image/jpg, image/jpeg">
                            </div>
                            <div class="container-fluid">
                                <div>Ingredientes restantes a añadir: <span id="restante"></span></div>
                                <div  class="row mb-2">
                                    <div class="col-6">
                                        <div>Ingrediente*</div>
                                    </div>
                                    <div class="col-6"> 
                                        <div>Cantidad</div>
                                    </div>
                                </div>
                            </div>
                            <div  class="container-fluid">
                                <div id="ingredientes" class="row mb-2">
                                    <div class="col-6">
                                        <select id="ingredient" class='mi-selector' required name='ingredient'>
                                            <option selected="selected" value="" disabled="disabled">Seleciona un ingrediente</option>
                                                {{#each ingredients}}
                                                    <option name="{{this.nom_ingredient}}" value="{{this.id_ingredient}}">{{this.nom_ingredient}}</option>
                                                {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-6"> 
                                        <input type="text" name="cantidad"  maxlength="20"  id="cantidad" class="form-control" placeholder="Ej: 1Kg, Cucharadas">
                                    </div>
                                </div>
                                <button type="button" disabled  id="afegir" class="btn btn-danger rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom">+</button>
                                <table id="ingReceta" class="table">
                                    <thead>
                                        <tr>
                                            <th>Ingrediente</th>
                                            <th>Cantidad</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                            <div class="form-group mt-2">
                                <input type="button" id="enviar" disabled class="btn btn-primary" value="Enviar">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>