<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card mt-5 text-center">
                <div class="card-header ">
                    <h3 id="nombre"> {{{recetaInfo.[0].nom_recepta}}}{{#if user}} <a class=""><input value="add" id="favorite" class="img-header" type="image" src="/img/star.svg" /></a>{{/if}}</h3>
                    <h4>País de origen: {{{recetaInfo.[0].nombre_pais}}}</h4>                  
                </div>
                <div>
                    <img src="/uploads/{{{recetaInfo.[0].img}}}"    class="card-img-top" alt="...">
                    <div class="container-fluid mb-3">
                    {{#if etiquetasHBS.vegano}}
                    <span class="badge bg-success">🍃Vegetariano</span>
                    {{/if}}
                    {{#if etiquetasHBS.gluten}}
                    <span class="badge bg-warning">🍞Sin gluten</span>
                    {{/if}}
                    {{#if etiquetasHBS.alcohol}}
                    <span class="badge bg-purple">🍾Con alcohol</span>
                    {{/if}}
                    {{#if etiquetasHBS.lactosa}}
                   <span class="badge bg-secondary">🥛Sin Lactosa</span>
                    {{/if}}
                     </div>
                    <h4 class="card-subtitle mb-2 text-muted">Ingredientes</h4>
                    <ul class="list-group list-group-flush">
                          {{#each recetaInfo.[0].ingredientes}}
                        <li class="list-group-item">{{this.nom}} {{this.cantidad}}</li>
                          {{/each}}
                    </ul> 
                    <h4 class="card-subtitle mt-2 mt text-muted">Preparacion</h4>
                    <h5>Tiempo de preparacion: {{{recetaInfo.[0].temps}}}</h5>
                    <div>
                        <p>{{{recetaInfo.[0].descripcio_recepta}}} </p>
                    </div>
                     {{#if recetaInfo.[0].nom_usuari}}
                    <div class="card-footer">
                        Receta subida por: {{{recetaInfo.[0].nom_usuari}}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>